body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 91.5%;
}

.left-elements{
  margin-top: 10vh;
  margin-bottom: 2vh;
  width: 20%;
  display: inline-flex;
  align-items: baseline;
}

.title-section{
  margin: 5px;
}

.table-content{
  background-color: rgb(255, 255, 255);
  width: 70%;
}

table {
  width: 100%;
  background-color: #ECF4FC;
}

.mat-paginator {
  margin-bottom: 50px;
  border: solid rgb(240, 240, 240) 1px;
  box-shadow: 0px 0px 15px #d1d1d1 ;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  margin-bottom: 2vh;
}

.btn-view{
  padding: 0;
  border: none;
  background: none;
}

.container-newIndicence{
  margin-top: 5vh;
}

.btn-incidence{
  background-color: #04578B;
  border:none;
  color:  #A8F5F2;
  padding: 10px 20px;
  font-weight: bold;
}

tr.mat-header-row {
  background-color: #2C3E50;
  color: white;
}

th.mat-header-cell {
  color: white;
}