<div class="analyze-container">
  <app-patient-info></app-patient-info>
  <div class="analyze-info">
    <div class="diagnostic-symptom">
      <h4 class="title-section">Diagnostico</h4>
      <h5>Posible tipo de Cáncer: {{ disease.name }}</h5>
      <h4 class="title-section">Sintomas y Signos</h4>
      <div class="list-items">
        <div class="form-check" *ngFor="let symptom of activeSymptoms">
          <input type="checkbox" class="form-check-input" [checked]="symptom.active" disabled/>
          <label class="form-check-label"> {{ symptom.description }} </label>
        </div>
      </div>
    </div>
    <div class="results">
      <div class="circle-wrap">
        <div class="circle">
          <div class="mask full">
            <div class="fill"></div>
          </div>
          <div class="mask half">
            <div class="fill"></div>
          </div>
          <div class="inside-circle">{{ response.maxOutput.value * 100 | number: "1.2-2" }} %</div>
        </div>
      </div>
      
      <div class="paragraph-container">
        <p>
          El paciente cuenta con un {{ response.maxOutput.value * 100 | number: "1.2-2" }} % de probabilidad de presentar un presunto
          caso de {{ disease.name }}, por ello es que se requiere su inmediata
          transferencia a un centro de salud con mayor jerarquía para su
          atención oportuna.
        </p>
      </div>
    </div>
    
  </div>
  <footer>
    <section class="btn-column1">
      <button type="submit" class="btn-back" (click)="goBack()">
        Regresar
      </button>
    </section>
    <section class="btn-column2">
      <button mat-raised-button type="submit" class="btn-no-ref" (click) ="onNoReferenceDialog()">No Referir</button>
      <button type="button" class="btn-ref" (click)="onReference()">
        Referir
      </button>
    </section>
  </footer>
</div>
