.analyze-container{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.patient-section{
    border-color: #04578B;
    border-width: 2px;
    border-radius: 10px;
    border-style:solid;
    background-color: #BDF8F5;
    margin: 30px 7%;
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 180px;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.5)
}

.title-section{
    font-weight: bold;
    color: #04578B;
}

.first-row{
    display: flex;
    flex: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.item-row-large{
    width: 35%;
    display: flex;
    justify-content: space-around;
}

.item-row-small{
    width: 10%;
    display: flex;
    justify-content: space-around;
}

.item-row-medium{
    width: 25%;
    display: flex;
    justify-content: space-around;
}

.input-block-large{
    width: 70%;
}

.input-block-small{
    width: 40%;
}

.input-block-medium{
    width: 50%;
}

.item--textbox{
    width: 150px;
}

.second-row{
    display: flex;
    flex: wrap;
    flex-direction: row;
    justify-content: space-between;
}


.analyze-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: wrap;
    margin: 10px 7%;
}

.diagnostic-symptom{
    background-color: #ECF4FC;
    width: 50%;
    padding: 20px;
    border-color: gray;
    border-width: 2px;
    border-radius: 10px;
    border-style:solid;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.5)
}

.list-items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    padding: 10px 30px;
}

.results{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.percent-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    background-color: #04578B;
    border-radius: 50%;
    border: solid;
    border-color: #BDF8F5;
    font-size: 30px;
    color: white;
}

.paragraph-container{
    margin: 30px;
    padding: 20px;
    background-color: #ECF4FC;
    border-color: gray;
    border-width: 2px;
    border-radius: 10px;
    border-style:solid;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.5)
}


footer{
    display: flex;
    margin: 3% 7%;
}

.btn-column1{
    display: flex;
    flex: 75%;
    justify-content: flex-start;
}

.btn-column2{
    display: flex;
    flex: 25%;
    justify-content: space-evenly;
}

.btn-back{
    background-color: #A8F5F2; 
    border: none;
    color: #04578B;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}

.btn-no-ref{
    background-color: #946675; 
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}

.btn-ref{
    background-color: #04578B; 
    border: none;
    color: #A8F5F2;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}