<div class="analyze-container">
    <div class="patient-section">
        <h4 class="title-section">Sección del paciente</h4>
        <section class="first-row">
            <div class="item-row-large">
                Paciente:
                <input type="text" class="input-block-large"  disabled>
            </div>
            <div class="item-row-medium">
                Sexo:
                <input type="text" class="input-block-medium"disabled>
            </div>
            <div class="item-row-small">
                Edad:
                <input type="text" class="input-block-small" disabled>
            </div>
            <div class="item-row-large">
                Dirección:
                <input type="text" class="input-block-large"  disabled>
            </div>
        </section>
        <section class="second-row">
            <div class="item-row-medium">
                N Historia Clinica:
                <input type="text" class="input-block-medium" disabled>
            </div>
            <div class="item-row-medium">
                Condición del Paciente:
                <input type="text" class="input-block-medium" disabled>
            </div>
            <div class="item-row-large">
                Dpto./Prov./ Distrito:
                <input type="text" class="input-block-large" disabled>
            </div>
        </section>
    </div>
    <div class="analyze-info">
        <div class="diagnostic-symptom">
            <h4 class="title-section">Diagnostico</h4>
            <h5> Posible tipo de Cáncer: Leucemia</h5>
            <h4 class="title-section">Sintomas y Signos</h4>
            <div class="list-items">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input">
                    <label class="form-check-label">
                        Hinchazón en el abdomen
                    </label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input">
                    <label class="form-check-label">
                        Piel pálida
                    </label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input">
                    <label class="form-check-label">
                        Insomnio
                    </label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input">
                    <label class="form-check-label">
                        Visión borrosa
                    </label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input">
                    <label class="form-check-label">
                        Mareos
                    </label>
                </div>
            </div>
        </div>
        <div class="results">
            <div class="percent-circle">
                {{ porcentaje | number : '1.2-2'}} %
            </div>
            <div class="paragraph-container">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </div>
        </div>
    </div>
    <footer>
        <section class="btn-column1">
            <button type="submit" class="btn-back" (click)="goBack()">Regresar</button>
        </section>
        <section class="btn-column2">
            <button type="submit" class="btn-no-ref">No Referir</button>
            <button type="button" class="btn-ref" (click)="onReference()">Referir</button>
        </section>
    </footer>
</div>