<div class="patient-section">
  <p class="title-section h4">Sección del paciente</p>
  <section class="row justify-content-start">
    <div class="col-md-3 mb-3">
      <label class="form-label">Paciente:</label>
      <input
        type="text"
        class="form-control form-control-sm"
        [value]="patientDTO.fullName"
        readonly
      />
    </div>
    <div class="col-md-3 mb-3">
      <label class="form-label">Sexo:</label>
      <input
        type="text"
        class="form-control form-control-sm"
        [value]="patientDTO.gender"
        readonly
      />
    </div>
    <div class="col-md-3 mb-3">
      <label class="form-label">Edad:</label>
      <input
        type="text"
        class="form-control form-control-sm"
        [value]="patientDTO.age"
        readonly
      />
    </div>
    <div class="col-md-3 mb-3">
      <label class="form-label">Dirección</label>
      <input
        type="text"
        class="form-control form-control-sm"
        [value]="patientDTO.address"
        readonly
      />
    </div>
    <div class="col-md-3">
      <label class="form-label">Numero de documento:</label>
      <input
        type="text"
        class="form-control form-control-sm"
        [value]="patientDTO.documentNumber"
        readonly
      />
    </div>
    <div class="col-md-3">
      <label class="form-label">Dpto./Prov./Dist:</label>
      <input
        type="text"
        class="form-control form-control-sm"
        [value]="patientDTO.location"
        readonly
      />
    </div>
    <div class="col-auto">
      <label class="form-label">Condición del Paciente:</label>
      <select class="form-select form-select-sm">
        <option value="ESTABLE">Estable</option>
        <option value="MAL ESTADO">Mal Estado</option>
        <option value="GRAVE">Grave</option>
      </select>
    </div>
  </section>
</div>
