/* .nav-container {
    background-color: lightgray;
    display: flex;
    margin: 1rem;
    padding: 1rem 2rem;
}

.nav-item {
    margin-right: 2.5rem;
}

.nav-item a {
    text-decoration: none;
    color: black;
    font-weight: bold;
} */

.hide {
    display: none;
}