<div class="diagnostic-container">
    <form (ngSubmit)="onSearch()" class="form-search-dni">
        <h5>DNI:</h5>
        <input type="text" class="input-dni" name="documentNumber" placeholder="DNI" maxlength="8" [(ngModel)]="searchInput">
        <button type="submit" class="btn-search-dni">Buscar</button>
    </form>
    <div class="patient-section">
        <h4 class="title-section">Sección del paciente</h4>
        <section class="first-row">
            <div class="item-row-large">
                Paciente:
                <input type="text" class="input-block-large" [value]="fullname" disabled>
            </div>
            <div class="item-row-medium">
                Sexo:
                <input type="text" class="input-block-medium" [value]="fullname" disabled>
            </div>
            <div class="item-row-small">
                Edad:
                <input type="text" class="input-block-small" [value]="fullname" disabled>
            </div>
            <div class="item-row-large">
                Dirección:
                <input type="text" class="input-block-large" [value]="fullname" disabled>
            </div>
        </section>
        <section class="second-row">
            <div class="item-row-medium">
                N Historia Clinica:
                <input type="text" class="input-block-medium" [value]="fullname" disabled>
            </div>
            <div class="item-row-medium">
                Condición del Paciente:
                <input type="text" class="input-block-medium" [value]="fullname" disabled>
            </div>
            <div class="item-row-large">
                Dpto./Prov./ Distrito:
                <input type="text" class="input-block-large" [value]="fullname" disabled>
            </div>
        </section>
    </div>
    <form (ngSubmit)="onAnalize()">
        <div class="diagnostic-symptom">
            <section class="diagnostic">
                <h4 class="title-section">Diagnostico</h4>
                <div class="list-items">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label">
                            Hinchazón en el abdomen
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label">
                            Piel pálida
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label">
                            Insomnio
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label">
                            Visión borrosa
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label">
                            Mareos
                        </label>
                    </div>
                </div>
            </section>
            <section class="symptom">
                <h4 class="title-section">Sintomas</h4>
                <div class="list-items">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label">
                            Fatiga
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label">
                            Pérdida de peso
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label">
                            Nauseas
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label">
                            Fiebre
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label">
                            Hematomas
                        </label>
                    </div>
                </div>
            </section>
        </div>
        <footer>
            <button type="submit" class="btn-analyze">Analizar</button>
        </footer>
    </form>
</div>