<div class="diagnostic-container">
    <form (ngSubmit)="onSearch()" class="row g-3 mb-3">
        <div class="col-auto">
            <input type="text" class="form-control" name="documentNumber" placeholder="DNI" maxlength="8" [(ngModel)]="searchInput">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-info">Buscar</button>
        </div>
    </form>
    <div class="row justify-content-center mb-3">
        <div class="col-md-2">
            <label class="form-label">Paciente:</label>
            <input type="text" class="form-control form-control-sm" [value]="fullname" disabled>
        </div>
        <div class="col-auto">
            <label class="form-label">N° Documento:</label>
            <input type="text" class="form-control form-control-sm" [value]="documentNumber" disabled>
        </div>
        <div class="col-md-3">
            <label class="form-label">Localidad:</label>
            <input type="text" class="form-control form-control-sm" [value]="location" disabled>
        </div>
        <div class="col-auto">
            <label class="form-label">Sexo:</label>
            <input type="text" class="form-control form-control-sm" [value]="gender" disabled>
        </div>
        <div class="col-auto align-self-end">
            <button class="btn btn-warning btn-sm" disabled>Antecedentes</button>
        </div>
    </div>
    <form>
        <div class="d-flex justify-content-center flex-wrap mb-3">
            <div class="card mx-3" style="width: 25rem;">
                <div class="card-header">
                    Diagnóstico
                </div>
                <div class="card-body">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label">
                            Hinchazón en el abdomen
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label">
                            Piel pálida
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label">
                            Insomnio
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label">
                            Visión borrosa
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label">
                            Mareos
                        </label>
                    </div>
                </div>
            </div>

            <div class="card mx-3" style="width: 25rem;">
                <div class="card-header">
                    Sintomas
                </div>
                <div class="card-body">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label">
                            Fatiga
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label">
                            Pérdida de peso
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label">
                            Nauseas
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label">
                            Fiebre
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label">
                            Hematomas
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary btn-lg">Analizar</button>
        </div>
    </form>
</div>