<!-- <div class="container">
    <div class="search-form">
        <form>
            <input type="text" placeholder="Ingrese un DNI...">
            <button type="submit">Buscar</button>
        </form>
    </div>
    <div class="info">
        <form>

        </form>
    </div>
</div> -->

<div>
    <form class="mb-3">
        <div class="form-group row">
            <div class="col-sm-2">
                <input class="form-control" type="text">
            </div>
            <div class="col-sm-2">
                <button class="btn btn-primary" type="submit">Buscar</button>
            </div>
        </div>
    </form>
    <form>
        <div class="row mb-3">
            <div class="col-md-2">
                <label class="form-label">Paciente:</label>
                <input class="form-control form-control-sm" type="text" disabled>
            </div>
            <div class="col-md-2">
                <label class="form-label">DNI:</label>
                <input class="form-control form-control-sm" type="text" disabled>
            </div>
            <div class="col-md-2">
                <label class="form-label">Localidad:</label>
                <input class="form-control form-control-sm" type="text" disabled>
            </div>
            <div class="col-md-2">
                <label class="form-label">Sexo:</label>
                <input class="form-control form-control-sm" type="text" disabled>
            </div>
        </div>
        <button class="btn btn-primary mb-3" type="submit">Analizar</button>
        <div class="row">
            <div class="col-md-4">
                <div class="wrapper">
                    
                </div>
                Diagnóstico
            </div>
            <div class="col-md-4">
                <div class="wrapper">
    
                </div>
                Sintomas
            </div>
        </div>
    </form>
</div>