/*.diagnostic-container {
    margin: 0 8rem;
}*/

.diagnostic-container{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.form-search-dni{
    display: flex;
    width: 25%;
    margin: 15px 5%;
    justify-content:space-evenly;
    align-items: center;
}

.input-dni{
    border: 2px solid #04578B;
    border-radius: 4px;
    padding: 10px;
}

.btn-search-dni{
  background-color: #A8F5F2;
  border:none;
  color: #04578B;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.title-section{
    font-weight: bold;
    color: #04578B;
}

.patient-section{
    border-color: #04578B;
    border-width: 2px;
    border-radius: 10px;
    border-style:solid;
    background-color: #ECF4FC;
    margin: 30px 7%;
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 180px;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.5)
}

.first-row{
    display: flex;
    flex: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.second-row{
    display: flex;
    flex: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.item--textbox{
    width: 150px;
}

.item-row-large{
    width: 35%;
    display: flex;
    justify-content: space-around;
}

.item-row-small{
    width: 10%;
    display: flex;
    justify-content: space-around;
}

.item-row-medium{
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input-block-large{
    width: 70%;
}

.input-block-small{
    width: 40%;
}

.input-block-medium{
    width: 50%;
}

.diagnostic-symptom{
    display: flex;
    flex: wrap;
    margin: 40px;
    justify-content: space-around;
}

.diagnostic{
    background-color: #ECF4FC;
    width: 40%;
    height: 100%;
    padding: 20px;
    border-color: gray;
    border-width: 2px;
    border-radius: 10px;
    border-style:solid;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.5)
}

.list-items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    padding: 10px 30px;
}

.symptom{
    background-color: #ECF4FC;
    width: 40%;
    height: 100%;
    padding: 20px;
    border-color: gray;
    border-width: 2px;
    border-radius: 10px;
    border-style:solid;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.5);
}

.btn-analyze{
    background-color: #04578B;
    border:none;
    color:  #A8F5F2;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

footer{
    display: flex;
    justify-content: flex-end;
    margin: 25px 130px;
}