/* .container {
    margin: 0 1rem;
    width: 100%;
}

.search-form input {
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-bottom: 1px solid black;
}

.search-form input:focus {
    outline: none;
}

.search-form button {
    padding: 0.5rem 1rem;
} */

.diagnostic-container {
    margin: 0 5rem;
}