<body>
    <div class="container">
        <h3>Registro de Incidencia</h3>
        <div class="elements-row">
            <div class="element-container">
                <label>Código Médico</label>
                <select class="combo">
                    <option value="Select">Buscar Elemento</option>
                </select>
            </div>
            <div class="element-container">
                <label>Centro de Salud</label>
                <input disabled>
            </div>
            <div class="element-container">
                <label>Estado</label>
                <select class="combo">
                    <option value="Select">Buscar elemento</option>
                </select>
            </div>
        </div>
        <div class="elements-row">
            <div class="asunto-container">
                <label>Asunto: </label>
                <input class="asunto" disabled>
            </div>
            <div class="telefono-container">
                <label>Teléfono</label>
                <input class="telefono" disabled>
            </div>
        </div>
        <div>
            <label>Descripción de Incidencia</label>
            <div class="container-desc-incidence">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        <div class="elements-row-center">
            <div class="element-container">
                <label>Tipo de Registro</label>
                <select class="combo">
                    <option value="Select">Buscar Elemento</option>
                </select>
            </div>
            <div class="element-container">
                <label>Prioridad</label>
                <select class="combo">
                    <option value="Select">Buscar Elemento</option>
                </select>
            </div>
        </div>
        <div class="elements-row-columns">
            <div class="column-1">
                <label>
                    Detalle de Solución
                </label>
                <textarea id="w3review" name="w3review" rows="4" cols="100"></textarea>
            </div>
            <div class="column-2">
                <label>
                    Fecha de Solución
                </label>
                <div class="element-container-section-samall">
                    <input type="date">
                    <input type="time">
                </div>
            </div>
        </div>
    </div>
    <footer>
        <button class="btn-update">Actualizar</button>
    </footer>
</body>
