<body>
    <div class="container">
        <h3>Registro de Incidencia</h3>
        <div class="elements-row">
            <div class="element-container">
                <label>Código Médico</label>
                <input disabled [value]="docMedic">
            </div>
            <div class="element-container">
                <label>Centro de Salud</label>
                <input disabled [value]="establishmentId">
            </div>
            <div class="element-container">
                <label>Estado</label>
                <input disabled [value]="status">
            </div>
        </div>
        <div class="elements-row">
            <div class="asunto-container">
                <label>Asunto: </label>
                <input class="asunto" disabled [value]="topic">
            </div>
            <div class="telefono-container">
                <label>Teléfono</label>
                <input class="telefono" disabled [value]="phone">
            </div>
        </div>
        <div>
            <label>Descripción de Incidencia</label>
            <div class="container-desc-incidence">
                <p aria-disabled="true" >{{description}}</p>
            </div>
        </div>
        <div class="elements-row-center">
            <div class="element-container">
                <label>Tipo de Registro</label>
                <select class="combo" disabled>
                    <option value="Select">{{type}}</option>
                </select>
            </div>
            <div class="element-container">
                <label>Prioridad</label>
                <select class="combo" disabled>
                    <option value="Select">{{priority}}</option>
                </select>
            </div>
        </div>
        <div class="elements-row-columns">
            <div class="column-1">
                <label>
                    Detalle de Solución
                </label>
                <textarea [(ngModel)]="solution" id="w3review" name="w3review" rows="4" cols="100"></textarea>
            </div>
            <div class="column-2">
                <label>
                    Fecha de Solución
                </label>
                <div class="element-container-section-samall">
                    <input type="date" #myDate [value]="inputDate | date:'yyyy-MM-dd'" (ngModel)="inputDate"/>
                    <input type="time" (ngModel)="inputHour" [value]="inputHour">
                </div>
            </div>
        </div>
    </div>
    <footer>
        <button class="btn-update" (click)="update()">Actualizar</button>
    </footer>
</body>
