.content {
    background-color: #f3f3f3;
    width: 100vw;
    height: 100vh;
}

body{
    margin:0px;
    padding-top: 10%;
}

.login-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: left !important;
    justify-content: center;
}

input {
    border: 1px solid #dadada !important;
}

input .form-control{
    width: 80% !important;
}


.form-check-input {
    background-color: white;
}

.logo {
    width: 40%;
    height: 100%;
    background-color: #d8eafd;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.card-logo{
    background-color: #80B5F0; 
}
.card-login{
    background-color: #50A4AB; 
    text-align: center;
}
.logo img{
    width: 80%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
}
.container{
    display: inline-flex;
    justify-content: center;
}

.title{
    font-size: 30px;
    margin-bottom: 10vh;
    color: #ffffff;
}

.btns{
    display: block;
    justify-content: center;
}

.btn-login{
  background-color: #80B5F0; 
  border:none;
  border-radius: 2vh;
  color: #ffffff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 2vh;
}

.forgot-pwd{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin-bottom: 1vh;
}


.card-body{
    background-color: #80B5F0;
}

.form-control{
    border: none;
    border-bottom: 1px solid #ffffff;
    background: inherit;
    width: 100%;
}
.input-group{
    display: block;
}
.input-group span{
    color: #ffffff;  
    font-size: 18px; 
}