table {
    background-color: #d2f8f6;
    width: 50%;
}

.referrals-container{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 10px;
}

.container-forms {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 5vh;
    margin-right: 5vh;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.patient-section{
    border-color: #04578B;
    border-width: 2px;
    border-radius: 10px;
    border-style:solid;
    background-color: #BDF8F5;
    margin: 5px 7% 5px 7%;
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.5)
}

.title-section{
    font-weight: bold;
    color: #04578B;
}

.first-row{
    display: flex;
    flex: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.item-row-large{
    width: 35%;
    display: flex;
    justify-content: space-around;
}

.item-row-small{
    width: 10%;
    display: flex;
    justify-content: space-around;
}

.item-row-medium{
    width: 25%;
    display: flex;
    justify-content: space-around;
}

.input-block-large{
    width: 70%;
}

.input-block-small{
    width: 40%;
}

.input-block-medium{
    width: 50%;
}

.second-row{
    display: flex;
    flex: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.info-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10vh;
}
.info-container section{
    height:80vh;
}

.main-container{
    margin-top: 5vh;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
}

.anamnesis-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
}

.datos-referencia {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
}

label{
    font-size: 17px;
}


.column-1{
    width: 50%;
    background-color: #ECF4FC;
    padding: 20px;
    border-color: rgb(218, 218, 218);
    border-width: 2px;
    border-radius: 10px;
    border-style:solid;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.5);
    margin-top: 35px;
}

.column-2{
    width: 40%;
    height: 540px;
}

.anamnesis-fisico{
    background-color: #ECF4FC;
    padding: 20px;
    display: flex;
    flex-direction: column;

    height: 100%;
    border-color: rgb(218, 218, 218);
    border-width: 2px;
    border-radius: 10px;
    border-style:solid;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.5)
}

.diagnostic-help{
    background-color: #ECF4FC;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 95%;
    border-color: rgb(218, 218, 218);
    border-width: 2px;
    border-radius: 10px;
    border-style:solid;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.5)
}

.p-container{
    padding: 10px;
    border-color: gray;
    border-width: 2px;
    border-radius: 3px;
    border-style:solid;
    background-color: white;
}

.t-container{
    padding: 10px;
    border-color: rgb(218, 218, 218);
    border-width: 2px;
    border-radius: 3px;
    border-style:solid;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.add-btn {
    margin-bottom: 10px;
}

.summary-area {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.line{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

table {
    width: 100%;
}

.line-start{
    display: flex;
    justify-content: space-between;
}

footer{
    display: flex;
    justify-content:flex-end;
    padding: 20px 7% 20px 0px;
}

.speciality{
    background-color: white;
    padding: 5px;
    border-color: rgb(224, 224, 224) !important;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;

}

select{
    width: 300px;
    height: 30px;
    text-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-color: rgb(218, 218, 218);
}

select:focus {
    border: 2px solid;
    border-color: rgb(204, 204, 204);
}

.elem{
    justify-content: space-around;
}

input[type=time]{
    width: 40%;
}

input[type=date]{
    width: 60%;
}

textarea {
    border-color: rgb(224, 224, 224) !important;
    border-width: 1px;
    border-style: solid;
}

.row-btns{
    width: 50vh;
}
.buttons-anam{
    border: none;
    padding: 1vh;
    border-radius: 10px 10px 0px 1px;
}
.buttons-anam:hover{
    background-color: #04578B;
    color: white;
    border-radius: 1vh;
}

.section-header{
    display: flex;
    justify-content: space-between;
}
.btn{
    border:none;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border-radius: initial;
}

.botones{
    width: 50vh;
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
    margin-bottom: 5vh;
    align-self: end;
    margin-right: 8vh;
}

.botones button {
    border-radius: 5px;
}

.btn-regresar{
    background-color: #946675; 
}

.btn-registrar{
    background-color: #04578B; 
}
.input-lb{
    width: 15vh;
    height: 30px;
    border-radius: 5px;
    border-color: rgb(224, 224, 224) !important;
    border-width: 1px;
    border-style: solid;
}

.lb-txt{
    width: 10vh;
}

@media only screen and (max-width: 960px) {
    .container-forms {
        flex-direction: column;
        margin-left: 1vw;
        margin-right: 1vw;
    }

    .info-container {
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
    }

    .column-1 {
        width: 90%;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    .datos-referencia {
        width: 90%;      
    }

    .column-2 {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    select{
        width: 150px;
        text-align: start;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 1200px) {
    
    select{
        width: 200px;
        text-align: start;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}