body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.layouts{
  display: inherit; 
}

.left-elements{
  margin-top: 10vh;
  margin-bottom: 2vh;
  width: 20%;
  display: inline-flex;
  align-items: baseline;
}
.mat-form-field-infix{
  display: inherit;
}

.title-section{
  margin: 5px;
}

.table-content{
  width: 70%;
}

table {
  width: 100%;
  background-color: #ECF4FC;
  margin-bottom: 50px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  margin-bottom: 2vh;
}

.btn-view{
  padding: 0;
  border: none;
  background: none;
}

tr.mat-header-row {
  background-color: #2C3E50;
  color: white;
}
th.mat-header-cell {
  color: white;
}